* {
    box-sizing: border-box;
}

:root {
    --gruen: #183020;
    --beige: #d1b28b;
    --akzent: #F18705;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: var(--beige);
    margin: 0px;
    padding: 0px;
}

/*Header*/
.header {
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: var(--gruen);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Lora';
    height: 140px;
    position: sticky;
    top: 0;
}

.header h2 {
    margin: 0px;
    padding-top: 15px;
}

/*Body*/
.body {
    width: 100%;
    padding: 50px;
    padding-top: 0px;
}

h1 {
    font-family: 'Pacifico';
    font-size: 60px;
}

h2, h3, h4, p {
    font-family: 'Lora';
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 32px;
}

/*Video*/
video {
    height: 400px;
    width: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-left: 50px;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

/*Werbemittel Grid*/
#werbe-grid {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    justify-items: center;
    gap: 50px; 
    margin-top: 20px;
}

#werbe-grid div {
    background-color: white;
    padding: 20px;
    width: 100%;
}

#werbe-grid #text {
    background-color: var(--beige);
    margin: 0;
    padding: 0;
}

#werbe-grid p {
    margin: 0;
}

#werbe-grid h3 {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

#werbe-grid img {
    width: 100%;
}

#Flyer {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: auto;
    font-size: 32px;
    font-family: 'Lora';
}
#Flyer img {
    width: 100%;
}



/* Konzepte Grid*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    margin-top: 20px;
}

.grid iframe {
    width: 100%;
    height: 200px;
    border: none;
}

.grid div {
    background: var(--gruen);
    color: white;
    padding: 20px;
    width: 100%;
}

/* Header Grid */
.header-grid {
    display: grid;
    grid-template-columns: 0.25fr 2fr 0.25fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    text-align: center;
    }
    
    .WortBildmarke { grid-area: 1 / 1 / 2 / 2; }
    .Titel { grid-area: 1 / 2 / 2 / 3; }
    .LogoJBC { grid-area: 1 / 3 / 2 / 4; }

    .logolinks {
        height: 100px;
        width: auto;
    }

    .logorechts {
        height: 100px;
        width: auto;
    }

    #WortBildmarke {
        width: 75px;
        height: 90px;
    }

    input {
        background-color: var(--akzent);
        color: var(--gruen);
        border: none;
        font-size: 18px;
        font-family: 'Lora';
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

/* Optimierungen fürs Handy */

@media (max-width: 500px) {

.body {
padding-left: 20px;
padding-right: 20px;
}

h1 {
font-size: 40px;
margin: 5px;
margin-left: 0;
margin-top: 15px;
}

h2 {
font-size: 30px;
}

.header h2 {
line-height: 35px;
font-size: 30px;
width: auto;
height: 120px;
padding: 10px;
padding-top: 0px;
}

h3 {
font-size: 20px;
}

p {
font-size: 18px;
}

.logolinks {
height: 75px;
width: auto;
}

.logorechts {
height: 60px;
width: auto;
}

#WortBildmarke {
width: 60px;
height: 90px;
}

video {
height: 180px;
width: auto;
padding: 0px;
}

#video-grid {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 10px;
}

#werbe-grid {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 10px; 
padding: 0px;
}

#werbe-grid div {
background-color: white;
padding: 20px;
width: 100%;
font-size: 18px;
}

#Flyer {
    font-size: 18px;
    font-family: 'Lora';
}

.grid {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 10px;
}

.grid iframe {
width: 100%;
height: 200px;
border: none;
}

.grid div {
padding: 20px;
width: 100%;
font-size: 18px;
}
}